{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Importar CSV o Excel</title>
  <link rel="stylesheet" href="{% static "assets/css/details2.css" %}">
</head>
<body>
    <h1>Importar CSV o Excel</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="importData">
      <p>Please select format of file.</p>
      <select name="file-format" class="form-control my-3">
          <option selected>Choose format...</option>
          <option>CSV</option>
          <option>EXCEL</option>
        </select>
      <button class="btn btn-primary" type="submit">Import</button>
    </form>
</body>
</html>