{% extends "landing_bd/index.html" %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static "assets/css/landing.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/clientes.css" %}">
    <title>Reuniones</title>
</head>
<body>
    <h1 class="titulo"><center>Reuniones</center></h1>
    <div class="contenedor-formulario">
        <form class="bar" method="GET" action={% url 'buscar_reuniones'%}>
            <input type="text" name="buscar1" placeholder="Buscar reuniones" class="busqueda">
            <button type="submit" class="boton-busqueda">
                <img src="https://cdn-icons-png.flaticon.com/512/107/107122.png" alt="Buscar Reunión" class="icono-busqueda">
            </button>
        </form>
    </div>
    <div class="clientes">
        <table class="clientes-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Titulo</th>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Situación</th>
                </tr>
            </thead>
            <tbody>
                {% for reunion in reuniones %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'detalles_reunion' reunion_id=reunion.id %}">{{ reunion.titulo }}</a></td>
                    <td>{{ reunion.cliente }}</td>
                    <td>{{ reunion.fecha }}</td>
                    <td>{{ reunion.situacion }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">No se encontraron reuniones.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>        
    <footer>
        <div class="botones">
            <button class="crear" onclick="window.location.href = '{% url 'crear_reuniones' %}'">Crea una reunión</button>
            <button class="crear" onclick="window.location.href = '{% url 'exportar_reuniones' %}'">Exportar a CSV</button>
        </div>
    </footer>
</body>
{% endblock  %}
